<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="pluginFolder" value="C:\Users\developer\Documents\visual studio 2013\Projects\ObservablePlugin\ObservablePlugin\bin\Debug\plugins\" />  
  </appSettings>
</configuration>